.card__section {
  margin-top: 40px;
}

.card__section-title {
  margin: 0px;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
  margin-top: 34px;
}

.card__element {
  position: relative;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 30px;
  cursor: pointer;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  max-width: 328px;
}

.card__name {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__details {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__short-description {
  margin: 3px 0px 15px 0px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
