.card__section {
  margin-top: 40px;
}

.card__section-title {
  margin: 0px;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__element {
  position: relative;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 30px;
  cursor: pointer;
}

.card__title {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 10px;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  padding: 5px;
}

.card__name {
  margin: 0;
  text-align: center;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
