.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 28px 40px;
}

.header__menu-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__site-name {
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.header__site-description {
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.header__menu-center {
  display: flex;
}

.header__logo-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.header__menu-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__menu-buttons {
  display: flex;
  gap: 20px;
}

.header__button {
  border: none;
  background-color: #fff;
  padding: 0;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.header__button:hover {
  opacity: 0.4;
}

.header__login-button {
}
